[%#
  # This template is free software;
  # you can redistribute it and/or modify
  # it under the terms of the GNU Library General Public License as
  # published by the Free Software Foundation; either version 2 of the
  # License, or (at your option) any later version.
  # This template is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  # You should have received a copy of the GNU General Public
  # License along with this code; if not, write to the
  # Free Software Foundation, Inc.,
  # 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
  #
  #
  #%]
[% PROCESS global/header.html.tmpl
    title = "OpenID: Continue"
%]

[% #
   # Handle the page to be used by Bugzilla.
   USE Bugzilla
   cgi = Bugzilla.cgi
 %]

<h2>Continue</h2>
<img src="extensions/OpenID/web/openid.png" width="64px" align="right" />

[% IF mode == 'authenticate' %]
<form method   = "post"
      action   = "page.cgi"
      name     = "openid_auth">
    <input type = "hidden" name = "id"          value = "openid_authenticate.html" />
    <input type = "hidden" name = "stage"       value = "handle" />
    <input type=  "hidden" name = "redirect_to" value = "[% openid_redirect_base %]" />
    <p>
        <label for="openid_url">
            <img src="extensions/OpenID/web/icon.png" width="16" />
            <b>URL:</b>
        </label>
        <input name  = "openid_url"
               type  = "text"
               value = "[% cgi.param("openid_url") %]" />
    </p>
    <p>
        <button type="submit">Continue</button>
    </p>
</form>
[% END %]
[% PROCESS global/footer.html.tmpl %]
