[%#
  # This template is free software;
  # you can redistribute it and/or modify
  # it under the terms of the GNU Library General Public License as
  # published by the Free Software Foundation; either version 2 of the
  # License, or (at your option) any later version.
  # This template is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  # You should have received a copy of the GNU General Public
  # License along with this code; if not, write to the
  # Free Software Foundation, Inc.,
  # 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
  #
  #
  #%]
[% PROCESS global/header.html.tmpl
    USE Bugzilla
    title = "OpenID: Create Account"
    cgi = Bugzilla.cgi

%]

<h2>Authenticate</h2>
<img src="extensions/OpenID/web/openid.png" width="64px" align="right" />

<p><b>Data from Bugzilla.cgi</b></p>
[% USE Dumper %]
<pre>
  [% Dumper.dump_html(cgi) FILTER none %]
</pre>

[% PROCESS global/footer.html.tmpl %]
