[% IF Param('user_info_class').split(',').contains('BrowserID') %]
[% use Bugzilla::Extension::OpenID::Util %]
<a href="[% Util.page('invoke') %]">
	<img src="extensions/OpenID/web/button.png" onclick="openid_login()" style="margin-bottom: -8px" alt="Log-in with OpenID">
</a> or
[% END %]
