[%
 # TODO: Determine a means of pulling OpenID data from the user.
 %]
[% IF Param('user_info_class').split(',').contains('OpenID') %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[%  use Bugzilla::Extension::OpenID::Util  %]
<a href="[% get_page('handle_authenticate') %]">
    <img src="extensions/OpenID/web/openid.png" style="margin-bottom: -8px" alt="Log-in with OpenID"> OpenID
</a>
[% END %]
